<table mat-table [dataSource]="batteryRows()">
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Capacity Column -->
  <ng-container matColumnDef="capacity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pojemność (kwh)</th>
    <td mat-cell *matCellDef="let element">{{ element.capacity }}</td>
  </ng-container>

  <!-- Power Column -->
  <ng-container matColumnDef="power">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Moc (kW)</th>
    <td mat-cell *matCellDef="let element">{{ element.power }}</td>
  </ng-container>

  <!-- Self Consumption Column -->
  <ng-container matColumnDef="selfConsumption">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Autokonsumcja (kwh)
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.selfConsumption | number : "1.2-2" }}
    </td>
  </ng-container>

  <!-- Consumption Column -->
  <ng-container matColumnDef="consumption">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Pobrano z sieci (kwh)
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.consumption | number : "1.2-2" }}
    </td>
  </ng-container>

  <!-- fedIntoGrid Column -->
  <ng-container matColumnDef="fedIntoGrid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Oddano do sieci (kwh)
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fedIntoGrid | number : "1.2-2" }}
    </td>
  </ng-container>

  <!-- priceG11 Column -->
  <ng-container matColumnDef="priceG11">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>G11 (zł)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.priceG11 | number : "1.2-2" }} zł
    </td>
  </ng-container>

  <!-- priceG12 Column -->
  <ng-container matColumnDef="priceG12">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>G12 (zł)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.priceG12 | number : "1.2-2" }} zł
    </td>
  </ng-container>

  <!-- priceG12W Column -->
  <ng-container matColumnDef="priceG12W">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>G12W (zł)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.priceG12W | number : "1.2-2" }} zł
    </td>
  </ng-container>

  <!-- priceG13 Column -->
  <ng-container matColumnDef="priceG13">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>G13 (zł)</th>
    <td mat-cell *matCellDef="let element">
      {{ element.priceG13 | number : "1.2-2" }} zł
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
