<mat-toolbar class="header">
  <button
    mat-icon-button
    class="menu-button"
    (click)="menuVisible = !menuVisible"
  >
    <mat-icon>menu</mat-icon>
  </button>
  Program do analizy danych z eLicznik TAURON
</mat-toolbar>

<mat-nav-list
  class="navigation"
  [ngClass]="{ visible: menuVisible, hide: !menuVisible }"
>
  @for( item of mainMenu; track item.path){
  <a mat-list-item [routerLink]="item.path">{{ item.label }}</a>
  }
</mat-nav-list>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
