<mat-toolbar color="primary">
  Program do analizy danych z elicznika tauron
</mat-toolbar>

<div fxLayout="row" fxLayout.lt-lg="column">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/import">Import danych z elicznika</a>
        <a mat-list-item routerLink="/wyniki">Wyniki</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-toolbar color="accent"> </mat-toolbar>
