:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.header {
  grid-column: 1 / span 1;
}

.sidenav-container {
  display: grid;
  grid-template-columns: 1fr;
}

.main-content {
  grid-column: 1 / span 1;
}

@media (min-width: 1200px) {
  :host {
    grid-template-columns: 250px 1fr;
  }

  .navigation {
    grid-column: 1 / span 1;
  }

  .main-content {
    grid-column: 2 / span 1;
  }

  .sidenav {
    display: none;
  }
}

.menu-button {
  display: none;
}

.visible {
  // display: block; /* Element jest widoczny */
  opacity: 1; /* Pełna widoczność */
  height: inherit;
  transition: opacity 0.3s ease-in-out; /* Płynne przejście */
}

.hide {
  // display: none; /* Element jest ukryty */
  opacity: 0; /* Element jest niewidoczny */
  height: 0;
  transition: opacity height 0.3s ease-in-out; /* Płynne przejście */
}

@media (max-width: 1199px) {
  .menu-button {
    display: block;
  }

  .sidenav {
    display: block;
  }
}
