<mat-card>
  <mat-card-title>Magazyny energii</mat-card-title>
  <mat-table
    [dataSource]="store.batteryDataEntities()"
    class="mat-elevation-z8"
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let storage"> {{ storage.id }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Capacity Column -->
    <ng-container matColumnDef="capacity">
      <mat-header-cell *matHeaderCellDef> Pojemność (kWh) </mat-header-cell>
      <mat-cell *matCellDef="let storage"> {{ storage.capacity }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Power Column -->
    <ng-container matColumnDef="power">
      <mat-header-cell *matHeaderCellDef> Moc (kW) </mat-header-cell>
      <mat-cell *matCellDef="let storage"> {{ storage.power }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Efficiency Column -->
    <ng-container matColumnDef="efficiency">
      <mat-header-cell *matHeaderCellDef> Sprawność (%) </mat-header-cell>
      <mat-cell *matCellDef="let storage"> {{ storage.efficiency }} </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Akcje </mat-header-cell>
      <mat-cell *matCellDef="let storage">
        <button
          mat-icon-button
          color="warn"
          (click)="deleteStorage(storage.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <button mat-icon-button color="primary" (click)="addBattery()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
  </mat-table>
</mat-card>
<!-- <mat-card>
  <form [formGroup]="batteryForm" (ngSubmit)="addBattery()">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput formControlName="id" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pojemność (kWh)</mat-label>
      <input matInput type="number" formControlName="capacity" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Moc (kW)</mat-label>
      <input matInput type="number" formControlName="power" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sprawność (%)</mat-label>
      <input matInput type="number" formControlName="efficiency" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Dodaj magazyn
    </button>
  </form>
</mat-card> -->
